*

!.gitignore
!.bashrc
!.xinitrc
!.bash_profile
!suckless/
!suckless/**
!.config/
!.config/espanso/
!.config/espanso/**
!.config/alacritty/
!.config/alacritty/**
!pscircle/
!pscircle/**
!.nccpcpp/config
!.mpd/mpd.conf
