btop/
cat_installer/
dconf/
discord/
dolphinrc
Electron/
etherape/
flameshot/
fontconfig/
FT2clone/
glib-2.0/
go/
gtk-4.0/
gtk-3.0/
hyfetch/
hyfetch.json/
hypr/
i3/
kde.org/
kitty/
menus/
mimeapps.list
picom/
polybar/
procps/
pulse/
QtProject.conf
simple-update-notifier/
spotify/
spotify-player/
spotify-tui/
SuperCollider/
vopono/
ytfzf/
fastfetch/
