[Unit]
Description=Runs pscircle to continuously update desktop wallpaper
After=graphical.target

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XAUTHORITY=/run/user/1000/lyxauth
ExecStart=/bin/bash -c 'while true; do ~/pscircle/pscircle.sh >> /home/_/pscircle/pscircle.log 2>&1; sleep 1; done'
Restart=always

[Install]
WantedBy=default.target

